<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/secao.css">
    <link rel="stylesheet" href="/static/textos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>História de Ceará-Mirim</title>
</head>

<body>
    <header id="header">
        <a class="empresa" href="/templates/home.html">
            <img id="logo" src="/static/img/logo.png" alt="logo">
            <p>Pulso da História CM</p>
        </a>

        <nav>
            <ul>
                <li class="drop-hover"><a id="history" href="#">História <i class="fa-solid fa-caret-down"></i></a>
                    <div class="drop">
                        <a href="/templates/secaoCM.html">Conheça CM</a>
                        <a href="/templates/secaoP.html">Personalidades</a>
                        <a href="/templates/secaoF.html">Folclore</a>
                    </div>
                </li>
                <li><a href="/templates/secaoE.html">Engenhos</a></li>
                <li><a href="/templates/rotas.html">Rotas</a></li>
                <li><a href="/templates/about.html">Sobre Nós</a></li>
            </ul>
        </nav>

        <a href="/templates/login.html"><button>Login</button></a>
    </header>
    
    <div class="caminho">
        <h6>
            <a href="/templates/home.html">HOME</a> > <a href="/templates/secaoCM.html">CONHEÇA A CIDADE</a> > <a href="art.html">HISTÓRIA DE CEARÁ-MIRIM</a>
        </h6>
    </div>
    
    <main>
        <h1>História de Ceará-Mirim</h1>
        <h4>Por Vitória Beatriz</h4>
        <h4>Publicado em 30/08/2024</h4>
        <img src="/static/img/cidade.png" alt="Imagem da cidade de Ceará-Mirim">
        <figcaption>Foto: Gibson Machado</figcaption>

        <article>
            <p>De 1611 a 1760, Natal era o único município da capitania do Rio Grande (hoje, estado do Rio Grande do Norte). No século XVII existiam apenas cinco povoados, sendo um deles a de São Miguel do Guajiru, a qual foi elevada à Vila em 1760, respondendo por Vila Nova de Extremoz do Norte.</p>
            <p>Entre os anos de 1844 a 1846, houve uma grande seca na agora província, levando a dificuldades na criação de gado e produção do algodão, resultando na diminuição dos lucros provenientes da exportação deste. Na mesma época, o império brasileiro estava incentivando a construção de engenhos e estradas de ferro. Nesse contexto, muitos produtores começaram a investir na cana de açúcar.</p>
            <p>A 18 km da Vila Nova de Extremoz do Norte estava o povoado Boca da Mata, o qual tinha este nome porque naquelas terras as estradas eram rodeadas pela Mata Atlântica. Lá passavam as águas do Rio Seará, havendo terra fértil em abundância, sendo o lugar ideal para o cultivo da cana.</p>
            <p>Um dos primeiros engenhos a serem instalados aqui foi o Engenho Carnaubal, fundado em 1843 por Antônio Bento Viana. Logo depois, em 1845, o coronel Manoel Leopoldo Raposo da Câmara fundou o engenho Porão, e com o passar dos anos o Boca da Mata foi crescendo e se tornando um dos maiores produtores de açúcar do Rio Grande do Norte.</p>
            <p>Desta maneira, no dia 18 de agosto de 1855, o Boca da Mata foi elevado à Vila, sendo agora, a Vila do Ceará-Mirim em razão do rio que percorre o lugar. Aconteceria mais tarde, a transferência da sede do município de Extremoz para a nova vila.</p>
            <p>Em 1858, foi lançada a pedra fundamental da Igreja Matriz de Nossa Senhora da Imaculada Conceição, hoje Santuário, sendo finalizada sua construção apenas em 1900, 42 anos depois. Nascia ali, a maior igreja católica do estado e uma tradição religiosa fervorosa do povo do rio pequeno.</p>
            <p>Anos mais tarde, as terras da futura Usina Ilha Bela foram adquiridas por Manoel Varela do Nascimento, aquele que em 1874 foi agraciado com o título de barão, sendo o primeiro potiguar a obter o honrado título em razão dos seus “relevantes serviços prestados à instrução pública da província do Rio Grande do Norte”, como constava no documento enviado por Dom Pedro II.</p>
            <p>Em 1882, mais precisamente no dia 09 de junho, a próspera vila se tornava enfim a Cidade de Ceará-Mirim, aquela que por muito tempo teve como sua principal atividade econômica a produção de produtos derivados da cana-de-açúcar, sendo conhecida hoje como a cidade dos verdes canaviais.</p>
            <p>Atualmente, o município faz parte da região metropolitana da capital Natal, obtendo 724,838 km2 e uma população de 79.115 habitantes por quilômetro quadrado, de acordo com dados divulgados pelo Instituto Brasileiro de Geografia e Estatística (IBGE) em 2022. A prefeitura funciona, desde 1978, no antigo Solar da família Antunes doado por Ruy Pereira Júnior. Infelizmente, apesar de sua rica história e importância para o estado do Rio Grande do Norte, as construções arquitetônicas que rememoram o antigo vale encontram-se hoje em profunda deterioração, correndo o risco de no futuro, restar apenas as lembranças da era de ouro desta fértil terra.</p>
            
            <p>Veja mais em: <a href="https://repositorio.ufrn.br/bitstream/123456789/18847/1/MariaElianeM.pdf">A produção do espaço rural no município de Ceará-Mirim</a></p>
        </article>

        <div id="curiosity">
            <h3>CURIOSIDADES</h3>
            <ul>
                <li>
                    Tinha-se conhecimento das terras cearamirinenses desde do início da colonização da capitania do Rio Grande, o que é comprovado pela pesquisa encaminhada por João Fernandes Vieira (sesmeiro da região onde hoje se localiza Ceará-Mirim) para saber mais sobre o lugar com densa vegetação. Acredita-se que o retardamento da exploração do povoado deu-se em razão da impossibilidade da instalação de engenhos movidos a água já que o rio Ceará-Mirim não sustentava esse tipo de produção. Por isso, inclusive, o engenho Carnaubal era de tração (movido por bois), sendo uma tecnologia atrasada para a segunda metade do século XIX.
                </li>
                <li>
                    Em 1999, Ceará-Mirim ganhou uma cidade irmã, a qual está localizada em Portugal e se chama Vagos. Naquele ano, representantes de Vagos se encontraram com o então prefeito Roberto Varela para discutir o intercâmbio cultural e econômico entre as cidades e selar a geminação (termo usado para se referir à cidades irmãs). Tempos depois, no município potiguar, foi inaugurada a praça de Vagos em referência a essa relação entre as cidades.
                </li>
            </ul>
            <p>Veja mais em: <a href="https://nlusofonia.blogspot.com/2011/10/vagosportugal-e-ceara-mirimbrasil.html">Notícias da lusofonia: Vagos/Portugal e Ceará-Mirim/Brasil - Cidades geminadas</a></p>
            <p>Sobre a praça de Vagos, leia: <a href="https://www.facebook.com/photo/?fbid=418594068830347&set=a.142499456439811">Praça de Vagos</a></p>
            <img src="/static/img/vagos.jpg" alt="Praça de Vagos">
            <figcaption>Praça de Vagos. Foto: Autoral</figcaption>
        </div>

        <div id="final">
            <h3>REFERÊNCIAS</h3>
            <p>SYARA MINOR [20--?]</p>
            <p>A EXPANSÃO CANAVIEIRA NO VALE DO CEARÁ-MIRIM. 2001</p>
            <a href="https://www.ibge.gov.br/cidades-e-estados/rn/ceara-mirim.html">Ceará-Mirim (RN) | Cidades e Estados | IBGE</a>
            <a href="https://gibsonmachadocm.blogspot.com/2020/05/texto-copiado-do-face-da-acla-pedro_11.html">O município de Ceará-Mirim - parte I</a>
            <a href="https://gibsonmachadocm.blogspot.com/2020/05/copiado-do-face-da-acla-pedro-simoes.html">O município de Ceará-Mirim - Parte II</a>
            <a href="https://periodicos.ufmg.br/index.php/forumpatrimo/article/view/34039/27200">Ruínas do Carnaubal</a>
            <a href="https://www.facebook.com/photo/?fbid=333835363972885&set=a.142499456439811">Matriz de Ceará-Mirim</a>
            <a href="https://colecaomossoroense.org.br/site/wp-content/uploads/2018/07/OS-BAR%C3%95ES-DO-CEAR%C3%81-MIRIM-E-MIPIBU.pdf">Os barões de Ceará-Mirim e Mipibu</a>
            <a href="https://www.facebook.com/photo/?fbid=417083543180020&set=a.126745378880506">O Solar Antunes</a>
            <a href="http://adcon.rn.gov.br/ACERVO/secretaria_extraordinaria_de_cultura/DOC/DOC000000000109053.PDF">Manoel Varella do Nascimento - Ceará-Mirim</a>
            <a href="https://pensenumanoticia.com.br/a-biografia-do-barao-de-ceara-mirim/">A biografia do Barão de Ceará-Mirim ⋆ Pense! Numa Notícia</a>
            <a href="https://nlusofonia.blogspot.com/2011/10/vagosportugal-e-ceara-mirimbrasil.html">Notícias da lusofonia: Vagos/Portugal e Ceará-Mirim/Brasil - Cidades geminadas</a>
        </div>
    </main>

    <footer>
        <div class="links">
            <a href="https://cearamirim.rn.gov.br/" target="_blank">
                <img src="/static/img/brasaoCM.svg">
                <p>Prefeitura <br> Municipal</p>
            </a>

            <a href="https://www.facebook.com/people/ACLA-Pedro-Sim%C3%B5es-Neto/100064889582779/" target="_blank">
                <img src="/static/img/ACLA.png">
                <p>ACLA</p>
            </a>

            <a href="https://www.cearamirim.rn.leg.br/" target="_blank">
                <img src="/static/img/camara.png">
                <p>Câmara Municipal</p>
            </a>

            <a href="https://gibsonmachadocm.blogspot.com/" target="_blank">
                <img src="/static/img/blogger.png">
                <p>Ceará-Mirim <br> Cultura e Arte</p>
            </a> 
        </div>

        <div class="sobre">
            <h2>Se aventure conosco!</h2>
            <ul>
                <li>
                    <a href="/templates/politica.html">
                        Políticas e Termos
                    </a>
                </li>
            
                <li>
                    <a href="mailto: pulsodahistoriacm@gmail.com">
                        Mande sua dúvida
                    </a>
                </li>
                <li>
                    <a href="/templates/about.html">
                        Sobre Nós
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Pulso da História CM - Todos os direitos reservados.
            </span>
        </div>
    </footer>

    <script src="/static/javascript/headerColorido.js"></script>
</body>
</html>