<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/secao.css">
    <link rel="stylesheet" href="/static/textos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Hino Municipal</title>
</head>

<body>
    <header id="header">
        <a class="empresa" href="/templates/home.html">
            <img id="logo" src="/static/img/logo.png" alt="logo">
            <p>Pulso da História CM</p>
        </a>

        <nav>
            <ul>
                <li class="drop-hover"><a id="history" href="#">História <i class="fa-solid fa-caret-down"></i></a>
                    <div class="drop">
                        <a href="/templates/secaoCM.html">Conheça CM</a>
                        <a href="/templates/secaoP.html">Personalidades</a>
                        <a href="/templates/secaoF.html">Folclore</a>
                    </div>
                </li>
                <li><a href="/templates/secaoE.html">Engenhos</a></li>
                <li><a href="/templates/rotas.html">Rotas</a></li>
                <li><a href="/templates/about.html">Sobre Nós</a></li>
            </ul>
        </nav>

        <a href="/templates/login.html"><button>Login</button></a>
    </header>
    
    <div class="caminho">
        <h6>
            <a href="/templates/home.html">HOME</a> > <a href="/templates/secaoCM.html">CONHEÇA A CIDADE</a> > <a href="art2.html">HINO MUNICIPAL</a>
        </h6>
    </div>

    <main>
        <h1>Hino Municipal</h1>
        <h4>Por Vitória Beatriz</h4>
        <h4>Publicado em 30/08/2024</h4>
        
        <article>
            <p>Instituído pela Lei nº 818 do ano de 1973 pelo prefeito Ruy Pereira Júnior, o hino de Ceará-Mirim foi escrito por José Luiz, cearamirinense nato que nasceu em Ponta do Mato no ano de 1915. Luiz viveu sua infância e adolescência no município dos verdes canaviais, até que ao completar 18 anos partiu com destino ao Rio de Janeiro como soldado do Exército. Quando deixou a vida militar fixou-se no Rio de Janeiro, onde conheceu muitos cantores, como por exemplo Luiz Gonzaga. Há muito tempo José Luiz tinha talento para música, encantando a todos quando tocava seu violão. Com a ajuda do ‘Rei do Baião’, Luiz lançou a sua primeira música, intitulada de ‘Baião no Café Nice’.
            </p>
            
            <img src="/static/img/jose luiz hino.jpg" alt="Autor do hino" style="width: 25%;">
            <figcaption>José Luiz, autor do hino de Ceará-Mirim. Foto: ACLA</figcaption>
            
            <p>Em 1937, participou da composição de alguns sucessos, como por exemplo ‘Grande Mágoa’ e ‘Vida de Caboclo’, sendo os citados em parceria com Augusto Calheiros. Ele também ganhou prêmios por suas composições e teve outros singles de sucesso, como o samba ‘Cremilda’de 1949, interpretado por Moreira Silva. Além disso, participou de filmes do Mazzaropi e Lima Barreto.
            </p>
            <p>Ao menos uma vez por ano, José Luiz vinha para sua cidade natal fazer shows gratuitos para a população, eventos esses que aconteciam no Centro Esportivo e Cultural. Em uma dessas visitas (que eram curtas por ter muitos compromissos no Rio de Janeiro), acompanhado de Augusto Calheiros nos anos 1950, fez uma apresentação em que seu amigo relatou estar muito orgulhoso de Luiz, falando sobre seu enorme talento musical e que graças a ele tinha um de seus maiores sucessos, o qual Calheiros cantou logo em seguida. 
            </p>
            <!--colocar mais uma foto aqui-->
            <p>Após sofrer um AVC (Acidente Vascular Cerebral) e ficar com paralisia parcial e voz trêmula, José Luiz se aposentou da vida musical em 1963, retornando de forma definitiva para Ceará-Mirim, mais precisamente no distrito de Ponta do Mato. Apesar de seus sucessos, ele não tinha economias guardadas e acabou recebendo uma pensão vitalícia da prefeitura, em forma de generosidade, gratidão e retribuição à sua importância cultural e ações feitas anteriormente. Com o dinheiro, ele viveu boa parte do fim de sua vida num quarto de pensão, na época localizado na Avenida General João Varela. Depois de alguns anos, ele foi viver com a sua irmã na capital Natal, porque não tinha condições físicas de viver sozinho mais.
            </p>
            <p>Em meio a esse período mais sombrio de sua vida, no ano de 1971 ele finalmente escreveu aquele que deveria ser o hino municipal da cidade. De acordo com o seu amigo próximo Jadson Queiroz, José com lágrimas nos olhos falou que “aquele hino, era a sua maior obra, pois entre tantas que havia feito, aquela era especial, porque era a prova do seu grande amor pela terra”. Abaixo segue uma imagem da composição feita por José Luiz, a cópia do documento original está com Jadson Queiroz que foi presenteado com ela por Luiz.
            </p>

            <img src="/static/img/hino.jpg" alt="letra do hino" style="width: 25%;">
            <figcaption>Letra original do hino. Foto: ACLA</figcaption>
            
            <p>Aos 67 anos, no dia 27 de dezembro de 1982, o compositor faleceu no Hospital do Câncer Dr. Luiz Antônio, sendo sepultado no cemitério do Bom Pastor no “túmulo dos desconhecidos”, o qual não se sabe a localização.
            </p>
            <p>Como homenagens póstumas, foram inaugurados em Ponta do Mato um Largo e uma rua com seu nome. Ainda no bairro das Quintas, em Natal, também há uma rua com seu nome.
            </p>
            <p>Mesmo com sua importância para o Vale, José Luiz caiu no esquecimento, e hoje, a maior parte da população cearamirinense não o conhece.
            </p>
            
            <p>Ouça Vida de Caboclo: <a href="https://www.youtube.com/watch?v=PMhhzzlmX94" style="color: rgb(170, 32, 32);">Vida de Caboclo - Augusto Calheiros</a></p>
            <p>Ouça Grande Mágoa: <a href="https://www.youtube.com/watch?v=Cee7GH80HWY" style="color: rgb(170, 32, 32)">Grande Mágoa - Augusto Calheiros</a></p>
        </article>

        <div id="curiosity">
            <h3>CURIOSIDADES</h3>
            <ol style="margin-left: 10px;">
                <li>A composição de José Luiz originalmente se chamava ‘Terra dos Verdes Canaviais’,</li>
                <li>José Luiz conheceu Luiz Gonzaga ainda no Exército, onde serviram juntos,</li>
                <li> Esteve nos filmes Fuzileiros do Amor, Cangaceiros, Fazenda do Ingá e O grande Pintor,</li>
                <li>Participou de um grupo com membros apenas nordestinos, sendo um deles Ângela Maria,</li>
                <li>Com Cremilda, se inscreveu no Concurso Oficial de Sambas e Marchas de carnaval do Rio de Janeiro do ano 1949, o qual ganhou o primeiro lugar,</li>
                <li>Também acompanhou o famoso cantor Vicente Celestino em suas turnês pelo Brasil e américa Latina.</li>
            </ul>
        </div>

        <div id="final">
            <h3>REFERÊNCIAS</h3>
            <a href="https://franciscoguiacm.blogspot.com/2012/07/biografia-de-jose-luiz-autor-do-hino-de.html">Biografia de José Luiz autor do hino de Ceará-Mirim</a>
            <a href="https://www.facebook.com/100064889582779/posts/1692030770896392/">José Luiz - ACLA</a>
        </div>
    </main>

    <footer>
        <div class="links">
            <a href="https://cearamirim.rn.gov.br/" target="_blank">
                <img src="/static/img/brasaoCM.svg">
                <p>Prefeitura <br> Municipal</p>
            </a>

            <a href="https://www.facebook.com/people/ACLA-Pedro-Sim%C3%B5es-Neto/100064889582779/" target="_blank">
                <img src="/static/img/ACLA.png">
                <p>ACLA</p>
            </a>

            <a href="https://www.cearamirim.rn.leg.br/" target="_blank">
                <img src="/static/img/camara.png">
                <p>Câmara Municipal</p>
            </a>

            <a href="https://gibsonmachadocm.blogspot.com/" target="_blank">
                <img src="/static/img/blogger.png">
                <p>Ceará-Mirim <br> Cultura e Arte</p>
            </a> 
        </div>

        <div class="sobre">
            <h2>Se aventure conosco!</h2>
            <ul>
                <li>
                    <a href="/templates/politica.html">
                        Políticas e Termos
                    </a>
                </li>
            
                <li>
                    <a href="mailto: pulsodahistoriacm@gmail.com">
                        Mande sua dúvida
                    </a>
                </li>
                <li>
                    <a href="/templates/about.html">
                        Sobre Nós
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Pulso da História CM - Todos os direitos reservados.
            </span>
        </div>
    </footer>

    <script src="/static/javascript/headerColorido.js"></script>
</body>
</html>