<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/secao.css">
    <link rel="stylesheet" href="/static/textos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Bandeira  e Brasão</title>
</head>

<body>
    <header id="header">
        <a class="empresa" href="/templates/home.html">
            <img id="logo" src="/static/img/logo.png" alt="logo">
            <p>Pulso da História CM</p>
        </a>

        <nav>
            <ul>
                <li class="drop-hover"><a id="history" href="#">História <i class="fa-solid fa-caret-down"></i></a>
                    <div class="drop">
                        <a href="/templates/secaoCM.html">Conheça CM</a>
                        <a href="/templates/secaoP.html">Personalidades</a>
                        <a href="/templates/secaoF.html">Folclore</a>
                    </div>
                </li>
                <li><a href="/templates/secaoE.html">Engenhos</a></li>
                <li><a href="/templates/rotas.html">Rotas</a></li>
                <li><a href="/templates/about.html">Sobre Nós</a></li>
            </ul>
        </nav>

        <a href="/templates/login.html"><button>Login</button></a>
    </header>

    <div class="caminho">
        <h6>
            <a href="/templates/home.css">HOME</a> > <a href="/templates/secaoCM.html">CONHEÇA A CIDADE</a> > <a href="art3.html">BANDEIRA E BRASÃO</a>
        </h6>
    </div>

    <main>
        <h1>Bandeira e Brasão Municipais</h1>
        <h4>Por Vitória Beatriz</h4>
        <h4>Publicado em 01/09/2024</h4>
        
        <article>
            <h2 style="padding: 10px; padding-top: 20px;">Bandeira</h2>
            <p>Criada pelo heraldista Arcinoé Antônio Peixoto de Faria, a bandeira municipal foi estabelecida pela Lei nº 851 do dia 25 de julho de 1974, sendo composta pelas cores verde, branco e vermelho e o brasão do município. 
            </p>
            
            <img src="/static/img/bandeira2.png" alt="Bandeira de Ceará-Mirim" style="width: 35%;">
            <figcaption>Bandeira Municipal. Foto: Wikipédia</figcaption>
            
            <h3 style="padding-left: 10px;">Descrição e Simbologia</h3>
            <p>O brasão simboliza o Governo Municipal, e está apoiado em um triângulo branco, representando a cidade sede do município. A cor branca da faixa abaixo da fita vermelha traz os símbolos de paz, amizade, trabalho, prosperidade, pureza e religiosidade. Enquanto que o sôbre vermelho traz a ideia de amor, pátrio, dedicação, audácia, intrepidez, coragem e valentia. Ambas as faixas retratam esses sentimentos se expandindo para todo o território. Por último, as tiras verdes representam as propriedades rurais, com a cor verde rememorando a honra, civilidade, cortesia, alegria, abundância e esperança, esta presente na espera pela colheita da cana.
            </p>

            <h2 style="padding: 10px; padding-top: 20px;">Brasão</h2>

            <img src="/static/img/brasaoCM.svg" alt="Brasão Ceará-Mirim" style="width: 25%;">
            <figcaption>Brasão de armas Municipal. Foto: Wikipédia</figcaption>

            <h3 style="padding-left: 10px;">Descrição</h3>
            <p>Arcinoé também é o autor do brasão municipal, é composto pela ave Tiê-Sangue ao centro, com um escudo à direita e outro à esquerda. Na parte inferior tem um boi puxando uma carroça cheia de cana-de-açúcar, entre dois pés de cana, havendo ao redor da composição duas chaminés com uma faixa vermelha com o nome do município de Ceará-Mirim e os anos relacionados a quando aconteceu a transferência da sede do Município de Extremoz para o Povoado Boca da Mata, e a elevação desta à Vila. Por fim, na parte superior há uma coroa mural com oito torres prateadas.
            </p>
            <h3 style="padding-left: 10px;">Simbologia</h3>
            <p>Os simbolismos presentes no brasão são:
                <br><br>
                Escudo Samnítico - o escudo está envolvendo toda a arte central do brasão, e rememora a influência dos colonizadores portugueses.
                <br><br>
                Coroa Mural - é o símbolo universal dos brasões de domínio, classificando a cidade como de segunda grandeza, sendo sede da Comarca.  
                <br><br>
                Ave Tiê-Sangue - representa a fauna de Ceará-Mirim
                <br><br>
                Escudos - trazem a memória de Alexandre Seabra de Mello e João Maria Júlio Chaves, ambos deputados que incentivaram a elevação do povoado de Boca da Mata para Vila. O escudo amarelo seria da Família Mello e o vermelho da Família Chaves.
                <br><br>
                Chaminés - refletem a importância econômica do sistema açucareiro na região do Ceará-Mirim.                
            </p>
        </article>

        <div id="final">
            <h3>REFERÊNCIAS</h3>
            <p>SENNA, Júlio Gomes. Ceará-Mirim - Exemplo Nacional (1938-1972) Volume II. 1° edição. Ceará-Mirim: Pongetti, 1974.</p>
        </div>
    </main>

    <footer>
        <div class="links">
            <a href="https://cearamirim.rn.gov.br/" target="_blank">
                <img src="/static/img/brasaoCM.svg">
                <p>Prefeitura <br> Municipal</p>
            </a>

            <a href="https://www.facebook.com/people/ACLA-Pedro-Sim%C3%B5es-Neto/100064889582779/" target="_blank">
                <img src="/static/img/ACLA.png">
                <p>ACLA</p>
            </a>

            <a href="https://www.cearamirim.rn.leg.br/" target="_blank">
                <img src="/static/img/camara.png">
                <p>Câmara Municipal</p>
            </a>

            <a href="https://gibsonmachadocm.blogspot.com/" target="_blank">
                <img src="/static/img/blogger.png">
                <p>Ceará-Mirim <br> Cultura e Arte</p>
            </a> 
        </div>

        <div class="sobre">
            <h2>Se aventure conosco!</h2>
            <ul>
                <li>
                    <a href="/templates/politica.html">
                        Políticas e Termos
                    </a>
                </li>
            
                <li>
                    <a href="mailto: pulsodahistoriacm@gmail.com">
                        Mande sua dúvida
                    </a>
                </li>
                <li>
                    <a href="/templates/about.html">
                        Sobre Nós
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Pulso da História CM - Todos os direitos reservados.
            </span>
        </div>
    </footer>

    <script src="/static/javascript/headerColorido.js"></script>
</body>
</html>