<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/secao.css">
    <link rel="stylesheet" href="/static/textos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Engenho Carnaubal</title>
</head>

<body>
    <header id="header">
        <a class="empresa" href="/templates/home.html">
            <img id="logo" src="/static/img/logo.png" alt="logo">
            <p id="nome">Pulso da História CM</p>
        </a>

        <!--DESKTOP-->
        <nav id="desktop">
            <ul>
                <li class="drop-hover"><a id="history" href="#">História <i class="fa-solid fa-caret-down"></i></a>
                    <div class="drop">
                        <a href="/templates/secaoCM.html">Conheça CM</a>
                        <a href="/templates/secaoP.html">Personalidades</a>
                        <a href="/templates/secaoF.html">Folclore</a>
                    </div>
                </li>
                <li><a href="/templates/secaoE.html">Engenhos</a></li>
                <li><a href="/templates/rotas.html">Rotas</a></li>
                <li><a href="/templates/about.html">Sobre Nós</a></li>
            </ul>
        </nav>

        <!--MOBILE-->
        <div class="nav-mobile">
            <div class="ham-menu" id="hamburguer">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="off-menu" id="menu">
            <ul>
                <li><a href="/templates/secaoCM.html">Conheça CM</a></li>
                <li><a href="/templates/secaoP.html">Personalidades</a></li>
                <li><a href="/templates/secaoF.html">Folclore</a></li>
                <li><a href="/templates/secaoE.html">Engenhos</a></li>
                <li><a href="/templates/rotas.html">Rotas</a></li>
                <li><a href="/templates/about.html">Sobre Nós</a></li>
            </ul>
            <a href="/templates/login.html"><button>Login</button></a>
        </div>

        <a href="/templates/login.html"><button>Login</button></a>
    </header>

    <div class="caminho">
        <h6>
            <a href="/templates/home.html"><i class="fa-solid fa-house"></i></a> > <a href="/templates/secaoE.html">ENGENHOS DA MEMÓRIA</a> > <a href="art6.html">ENGENHO CARNAUBAL</a>
        </h6>
    </div>

    <main>
        <h1>Engenho Carnaubal</h1>
        <h4>Por Vitória Beatriz</h4>
        <h4>Publicado em 21/10/2024</h4>
        
        <article>
            <p>Primeiro engenho da cena  econômica açucareira do Vale de Ceará-Mirim, o Engenho Carnaubal foi fundado pelo Coronel português da Guarda Nacional, Antônio Bento Viana. Dados oficiais relatam que a construção foi fundada em 1840, mas como o historiador local Gerinaldo Moura traz em um de seus textos sobre a História da cidade, o escritor Júlio Senna no livro Ceará-Mirim - Exemplo Nacional, volume II - diz que o engenho estava  em pleno funcionamento em 1840. Assim, existem indícios de que sua construção é datada de 1810, aproximadamente.</p>
            
            <p>O complexo arquitetônico de Viana está localizado próximo ao Rio Água Azul, principal afluente do Rio Ceará-Mirim; e é composto por fábrica, casa-grande, estábulo e moradia dos funcionários. É interessante destacar que Bento Viana foi precursor neste último item, influenciando diversos outros senhores de engenho que futuramente instalaram outros engenhos e usinas, na região.</p>

            <p>A casa-grande possui estilo europeu e duas algarobas na frente para fazer sombra. A fábrica se destacou pela modernização, uma vez que em 1843 funcionava com maquinário avançado para a época, sendo o destaque a moenda de ferro horizontal que veio diretamente da Inglaterra.</p>
            
            <!--foto moenda/fabrica-->

            <h3>NOVOS PROPRIETÁRIOS</h3>

            <p>Anos após a morte de Antônio Bento Viana, o engenho passou a ser do Coronel Carlos Augusto Carrilho de Vasconcelos, também da Guarda Nacional, sendo administrado posteriormente, pelos seus filhos.</p>

            <p>No ano de 1930, a propriedade foi adquirida por Manoel Emydio de França (mais popularmente conhecido como “Maneco França”), e logo depois por Ary Alecrim Pacheco, o qual é possível ver seu nome nas casas remanescentes dos funcionários do lugar.</p>

            <!--colocar foto da frente de uma das casas-->
            <img src="/static/img/jose luiz hino.jpg" alt="Autor do hino" style="width: 25%;">
            <figcaption>José Luiz, autor do hino de Ceará-Mirim. Foto: ACLA</figcaption>
            
            <p>Em seus tempos áureos, o Carnaubal teve um dos processos de fabricação mais eficientes em razão do equipamento moderno, sendo movido a vapor, e produzindo além do açúcar, rapadura e aguardente, comercializados para o sertão, sobretudo. Na administração de “Maneco França”, o Carnaubal produziu 560 sacos de açúcar, cada um com 60kg. Porém, a estimativa era efetuar 3.000 sacos.</p>
            
            <h3>DECADÊNCIA</h3>

            <p>Na primeira metade do século XX, o comércio açucareiro começava a declinar, e a cidade dos verdes canaviais começava a sentir esse enfraquecimento. De tal maneira, o mais antigo engenho da região também sentiu os efeitos.</p>

            <p>Após a sua desativação, o antigo engenho passou a realizar atividades de cunho agrícola e a fornecer cana para usinas do município. Antigos proprietários relatam ainda que além da industrialização do açúcar, a consolidação das Leis Trabalhistas afetou a relação de trabalho entre a mão de obra e o senhor, dificultando a situação da fábrica.</p>

            <p>“Atualmente, o Engenho Carnaubal é apenas uma sombra do passado econômico, social, político, cultural e histórico de um povo que viu sua história se perder no tempo e no espaço, cujas ruínas marcam o velho aterro que liga a cidade ao vale.” - Gerinaldo Moura, professor e historiador local</p>
        </article>

        <div id="final">
            <h3>REFERÊNCIAS</h3>
            <p>Trabalho UFMG</p>
            <p>pdf drive</p>
            <a href="https://www.facebook.com/photo/?fbid=145181627036881&set=a.126745378880506">Casa-Grande do Engenho Carnaubal</a>
            <a href="https://www.facebook.com/share/p/or7KuPjSevcvgrtR/?mibextid=oFDknk">Engenho Carnaubal</a>
            <a href="https://www.facebook.com/share/p/vXdb1i2jiPuVnER8/?mibextid=oFDknk">Você Sabia? - ACLA</a>
        </div>
    </main>

    <footer>
        <div class="content">
            <div class="a cta">
                <h2 id="frase-cta">Se aventure conosco!</h2>
            </div>

            <div class="a links">
                <a href="https://cearamirim.rn.gov.br/" target="_blank">
                    <img src="/static/img/brasaoCM.svg">
                    <p>Prefeitura <br> Municipal</p>
                </a>

                <a href="https://www.facebook.com/people/ACLA-Pedro-Sim%C3%B5es-Neto/100064889582779/" target="_blank">
                    <img src="/static/img/ACLA.png">
                    <p>ACLA</p>
                </a>

                <a href="https://www.cearamirim.rn.leg.br/" target="_blank">
                    <img src="/static/img/camara.png">
                    <p>Câmara Municipal</p>
                </a>

                <a href="https://gibsonmachadocm.blogspot.com/" target="_blank">
                    <img src="/static/img/blogger.png">
                    <p>Ceará-Mirim <br> Cultura e Arte</p>
                </a> 
            </div>

            <div class="a sobre">
                <h3>Recursos</h3>

                <ul>
                    <li>
                        <a href="templates/politica.html">
                            Políticas e Termos
                        </a>
                    </li>
                
                    <li>
                        <a href="mailto: pulsodahistoriacm@gmail.com">
                            Mande sua dúvida
                        </a>
                    </li>
                    <li>
                        <a href="/templates/about.html">
                            Sobre Nós
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Pulso da História CM - Todos os direitos reservados.
            </span>
        </div>
    </footer>

    <script src="/static/javascript/headerColorido.js"></script>
    <script src="/static/javascript/burguer.js"></script>
</body>
</html>