*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito  Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8ac44f; 
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin: 0 15px 0 215px;
    transform: translateX(23%);*/
    width: 70%;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3fadc;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

h1{
    color: #3d550c;
    padding-bottom: 40px;
    text-align: center;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-box input{
    margin: 10px 0;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 12px;
    color: #6b5c5c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid black;
}

.input-box label,
.gender-inputs h6,
.heart{
    font-size: 13px;
    font-weight: 600;
    color: #3d550c;
}

.bottom-form{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.gender-inputs,
.heart{
    display: flex;
    flex-direction: column;
}

.gender-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 0.62rem;
    margin-bottom: 30px;
    color: #3d550c;
}

.gender-input input,
.heart-input input{
    margin-right: 2px;
}

.gender-input label{
    font-size: 0.81rem;
    font-weight: 600;
    color: #3d550c;
}

.heart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    color: #3d550c;
}

.heart-title{
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.heart-radios{
    display: flex;
    gap: 20px;
}

.heart-input{
    display: flex;
    flex-direction: row;
}

button{
    border: none;
    background: #3d550c; 
    color: #fff;
    padding: 0.5rem 1rem;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #75bd2e;
    border: 1px solid #c4c2c275;
}

/*PARTE 2*/
.cad2{
    height: 85%;
}

.cad2 p{
    text-align: justify;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 320px) and (max-height: 780px) {
    form{
        width: 80%;
        margin-bottom: 0;
        height: 465px;
    }

    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
    }

    .bottom-form{
        flex-direction: column;
        gap: 0px;
        padding-right: 0;
    }

    .gender-inputs{
        margin-top: 15px;
    }

    .gender-inputs h6{
        padding-top: -10px;
        padding-bottom: 10px;
    }

    .gender-group{
        margin-top: 0px;
        margin-bottom: 15px;
        gap: 0;
        flex-direction: column;
        transform: translateX(13%);
    }

    .gender-input{
        margin-top: 0.5rem;
    }

    .heart-input{
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
}
