*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito  Sans', sans-serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: #f3fadc;
    overflow-x: hidden;
}

.empresa{
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

#logo{
    width: 20%;
    margin-right: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header.rolagem{
    background-color:#f3fadc;
}

header.rolagem .empresa,
header.rolagem nav ul li a,
header.rolagem button{
    color: #050505;
    text-shadow: none;
} 

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 15px;
    padding-top: 15px;
}

header nav ul li a{
    display: block;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.drop-hover{
    position: relative;
}

.drop-hover .drop{
    position: absolute;
    background-color: #d2ec7b;
    width: 215%;
    height: 0;
    overflow: hidden;
    margin-left: -35px;
}

.drop a{
    background-color: #d2ec7b;
    padding: 20px;
    padding-bottom: 15px;
    text-align: center;
}

/*altura drop*/
.drop-hover:hover .drop{
    height: 155px;
}

/*para seta girar*/
.drop-hover:hover i{
    transform: rotate(180deg);
    transition: .3s;
}

/*efeito nas tags a do drop*/
.drop-hover .drop a:hover{
    color: #050505;
    background-color: #75bd2e;
    transition: .3s;
}

header nav ul li a:hover{
    color: #7cc644;
    transition: .3s;
}

/*para que historia+seta permaneçam verdes com drop ativo*/
.drop-hover:hover #history,
.drop-hover:hover i,
.drop-hover:has(.drop:hover) #history,
.drop-hover:has(.drop:hover) i {
    color: #7cc644; 
}

.off-menu{
    display: none;
}

a{
    text-decoration: none;
    color: #050505;
}

header button{
    margin-top: 5px;
    padding: 12px;
    border-radius: 19px;
    border: none;
    background-color: #7cc644;
    cursor: pointer;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

header button:hover{
    background-color: #75bd2e;
    transition: .2s;
}

/*SLIDER*/
#frase{
    top: 20%;
    right: 3%;
    position: absolute;
    background-color: transparent;
    /*background: rgba(0, 0, 0, 0.3);*/
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: white;  
    /*border-radius: 5px;*/
    font-size: 40px;
}

.slider{
    margin: 0 auto;
    width: 100%; 
    height: 633px !important; 
    overflow: hidden;
}

.slides{
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    position: relative;
    transition: .8s ease-in; /*inicio e fim lentos*/
}

.slide img{
    width: 100vw;
    opacity: 95%;
}

.manual-navegacao{
    position: sticky; /*absolute deu problema no mobile*/
    width: 676px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    background: none;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
    background-color: transparent;
}

.manual-btn:not(:last-child){
    margin-right: 25px;
}

.manual-btn:hover{
    background-color: #fff;
}

/*fazendo as imagens virem ao apertar btn*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

#radio4:checked ~ .first{
    margin-left: -300%;
}

#radio5:checked ~ .first{
    margin-left: -400%;
}

.navegacao div{
    border: 2px solid #fff;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s;
    background-color: transparent;
}

.navegacao{
    position: absolute;
    width: 100%;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.navegacao div:not(:last-child){
    margin-right: 25px;
}

#radio1:checked ~ .navegacao .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navegacao .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navegacao .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navegacao .auto-btn4{
    background-color: #fff;
}

#radio5:checked ~ .navegacao .auto-btn5{
    background-color: #fff;
}

/*MAIN*/
.poema p{
    background-color: #8ac44f;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    letter-spacing: 1px;
}

/*ARTIGOS*/
.title{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    margin-left: 20px;
    justify-content: center;
}

.card{
    width: 25%; 
    text-align: center;
}

.one, .second, .third{
    margin-bottom: 50px;
}

.card img{
    width: 65%;
    border-radius: 15px;
}

#img2, #img3, #img5, #img6{
    height: 68%;
}

.card a{
    color: #3d550c;
    font-weight: bold;
}

.card a:hover{
    text-decoration: underline;
}

.card p{
    text-align: center;
    padding-top: 10px;
}

/*ACESSO*/
.acesso {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.acesso a {
    margin: 70px;
    display: inline-block;
}

.acesso button {
    background-color: #7cc644;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: -150px;
    margin-right: 30px;
}

.acesso button:hover {
    background-color: #75bd2e;
    cursor: pointer;
}

/*JUVENAL*/
.juvenal{
    background-color: #8ac44f;
    height: 400px;
    display: flex;
}

.juvenal img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 150px !important;
}

.juvenal .texto{
    padding-top: 80px;
}

.juvenal .texto h2{
    font-size: 35px;
    padding-bottom: 25px;
}

.juvenal .texto p{
    padding-bottom: 30px;
    font-size: 20px;
}

.juvenal .texto a{
    text-decoration: none;
    color: #3d550c;
    font-weight: bold;
}

.juvenal .texto a:hover{
    text-decoration: underline;
}

/*ROTAS*/
.rotas iframe{
    margin: 0 auto;
    margin-bottom: -5px;
    width: 77%;
    border: 0;
}

.rotas a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-left: 177px;
    margin-right: 134px;
    font-size: 15px;
    font-family: 'Nunito sans', sans-serif;
    background: #fff;
    border: 1px solid rgb(199, 198, 198);
}

.rotas a:hover{
    background: #f5f5f5;
    cursor: pointer;
}

/*SAUDE*/
.saude{
    height: 300px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    gap: 100px;
    background-color: #8ac44f;
}

.saude img{
    width: 35%;
    border-radius: 35px;
}

.saude .texto{
    padding-top: 20px;
}

.texto h2{
    text-align: center;
    font-size: 30px;
}

.texto p{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: justify;
}

.texto a button{
    padding: 5px 50px;
    transform: translateX(180px) !important;
    background: #fff;
    border: 1px solid gray;
    border-radius: 15px;
}

.texto a button:hover{
    box-shadow: 1px 1px #050505;
    cursor: pointer;
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: #7cc644;
}
  
footer .content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 50px;
    gap: 20px;
}
 
footer  .a{
    flex: 1;
    max-width: 400px; 
}
  
#frase-cta{
    margin: 50px 0px;
    margin-left: 140px;
}

footer .links{
    margin-left: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
    justify-content: center;
}
  
footer .links a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    text-decoration: none;
    color: black;
    text-align: center;
}
  
footer .links img {
    width: 45px;
    margin-bottom: 5px;
}
  
footer .links a:hover {
    color: #3d550c;
}

footer .sobre{
    margin-left: 115px;
    margin-right: -100px;
}

footer .sobre h3{
    padding-bottom: 20px;
}
  
footer .sobre ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
footer .sobre a {
    text-decoration: none;
    color: black;
}
  
footer .sobre a:hover {
    text-decoration: underline;
}

footer .bottom-footer{
    background-color: #8ac44f;
    padding: 20px 20px;
}
  
footer .bottom-footer #copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; 
}

/*BOTÃO VOLTAR AO TOPO*/
#btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7cc644; 
    color: #050505;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s;
}

#btnTopo:hover {
    background-color: #75bd2e; 
}

/*telas grandes*/
@media (max-width: 1600px) {
    header button{
        text-shadow: none;
    }

    .slider,
    .slide img{
        height: 775px;
    }

    .manual-navegacao{
        transform: translateX(50%);
    }

    .poema p{
        padding-top: 70px;
        padding-bottom: 70px;
        letter-spacing: 1.5px;
    }

    .acesso{
        margin-left: 2%;
    }

    .acesso button{
        margin-left: 12.5%;
    }

    .juvenal img{
        margin-left: 220px;
    }

    .juvenal .texto{
        padding-left: 175px;
    }

    .rotas iframe{
        transform: translateX(17%);
    }

    .rotas a button{
        margin-left: 208px;
        padding: 20px 567px;
    }

    .saude{
        padding: 30px 185px;
    }

    .texto a button{
        transform: translateX(270px);
    }
}

/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 549px) {
    #desktop,
    #nome,
    header button{
        display: none;
    }

    html, body {
        width: 100%;
    }
   
    .off-menu button {
        display: block;
    }

    header {
        width: 100%;
        padding: 10px !important; 
    }

    #logo{
        width: 45%;
        margin-top: -1px;
    }

    /*fazendo menu hamburguer*/
    .off-menu {
        background-color: #75bd2e;
        height: 40%;
        width: 58%;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .off-menu.ativado {
        left: 62px;
        top: 10px;
        background-color: #8ac44f;
    }

    .off-menu ul li{
        list-style: none;
        padding: 3px;
    }

    header button{
        color: #050505;
        border: 1px solid rgba(43, 42, 42, 0.363);
    }

    .nav-mobile {
        padding: 2px 5px;
        display: flex;
        background-color: #75bd2e;
        position: fixed;
        left: 250px;
    }

    .ham-menu {
        height: 38px;
        width: 50px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #7cc644;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s ease;
    }

    footer .links{
        margin: 0 auto;
    }

    /*posicao span*/
    .ham-menu span:nth-child(1) {
        top: 7px;
    }

    .ham-menu span:nth-child(2) {
        top: 17px;
    }

    .ham-menu span:nth-child(3) {
        top: 27px;
    }

    /*posicao x quando menu está ativado*/
    .ham-menu.ativado span:nth-child(1) {
        transform: translateX(-50%) rotate(45deg);
        top: 17px;
    }

    .ham-menu.ativado span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.ativado span:nth-child(3) {
        transform: translateX(-50%) rotate(-45deg);
        top: 17px;
    }

    #frase{
        font-size: 27px;
        text-align: center;
    }

    .slider{
        height: 780px !important;
    }

    .slide img{
        object-fit: cover;
        height: 781px;
    }

    .cards{
        margin-left: 0px;
        justify-content: space-between;
    }

    .card{
        width: 100%;
        font-size: 16.5px;
    }

    .one, .second, .third{
        margin-bottom: 0;
    }

    .card img{
        width: 80%;
        object-fit: cover;
    }

    .acesso h2{
        margin-bottom: 50px;
    }

    .acesso a{
        margin: 30px;
        margin-left: -5px;
    }

    .acesso button{
        padding: 20px 69px;
    }

    #menor{
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    #menor2{
        padding-left: 95px !important;
        padding-right: 95px !important;
    }

    #menor3{
        padding-left: 77px !important;
        padding-right: 76px !important;
    }

    .juvenal{
        flex-direction: column;
        height: 625px;
    }

    .juvenal img{
        width: 80%;
        object-fit: cover;
        margin: 0 auto !important;
        margin-top: 30px !important;
    }

    .juvenal .texto h2{
        font-size: 30px;
        text-align: center;
        margin-left: -165px;
        margin-top: -50px;
        padding-bottom: 5px;
    }

    .juvenal .texto p{
        margin-left: -160px;
        padding-right: 10px;
        padding-bottom: 20px;
        font-size: 17px;
    }

    .juvenal .texto a{
        margin-left: -160px;
    }

    .rotas a{
        margin-left: 41px;
        margin-right: 32px;
    }

    .saude{
        flex-direction: column;
        gap: 0;
        height: 500px;
        padding: 10px;
    }

    .saude img{
        width: 80%;
        margin-top: 20px !important;
        margin: 0 auto;
        object-fit: cover;
    }

     .saude .texto h2{
        font-size: 22px;
    }

    .saude .texto p{
        padding-top: 20px;
        padding-bottom: 25px;
    }

    .saude .texto a button{
        padding: 10px 50px;
        transform: translateX(50px) !important;
    }

    footer .content{
        flex-direction: column;
    }

    #frase-cta{
        margin-left: 0;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }

    footer .sobre{
        margin-left: 0;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    footer .bottom-footer #copyright{
        font-size: 9.7px;
    }
}

/*AJUSTES EM TAMANHOS ESPECÍFICOS*/
@media screen and (min-width: 500px) and (max-width: 549px) {
    .nav-mobile{
        left: 86%;
    }

    .off-menu{
        height: 38%;
        width: 45%;
    }

    .off-menu.ativado{
        left: 205px;
    }

    .acesso button{
        padding: 20px 130px;
        transform: translateX(-10px);
    }

    #menor{
        padding-left: 163px !important;
        padding-right: 163px !important;
    }

    #menor2{
        padding-left: 156px !important;
        padding-right: 156px !important;
    }

    #menor3{
        padding-left: 140px !important;
        padding-right: 140px !important;
    }

    .juvenal{
        height: 780px;
    }

    .rotas a{
        margin-left: 67px;
        margin-right: 51px;
    }

    .saude{
        height: 560px;
    }

    .saude .texto a button{
        margin-top: -10px;
        transform: translateX(140px) !important;
    }

    #frase-cta{
        transform: translateX(50px);
    }
}

@media screen and (min-width: 521px) and (max-width: 530px) {
    .off-menu.ativado{
        left: 214px;
    }

    .acesso button{
        padding: 20px 145px;
        transform: translateX(-20px);
    }

    #menor{
        padding-left: 176px !important;
        padding-right: 176px !important;
    }

    #menor2{
        padding-left: 170px !important;
        padding-right: 170px !important;
    }

    #menor3{
        padding-left: 155px !important;
        padding-right: 155px !important;
    }

    .juvenal{
        height: 810px;
    }
}

@media screen and (min-width: 531px) and (max-width: 549px) {
    .off-menu.ativado{
        left: 225px;
    }

    .acesso button{
        padding: 20px 145px;
        transform: translateX(-20px);
    }

    #menor{
        padding-left: 176px !important;
        padding-right: 176px !important;
    }

    #menor2{
        padding-left: 170px !important;
        padding-right: 170px !important;
    }

    #menor3{
        padding-left: 155px !important;
        padding-right: 155px !important;
    }

    .juvenal{
        height: 800px;
    }

    .rotas a{
        margin-left: 70px;
        margin-right: 53px;
    }

    .saude{
        height: 580px;
    }

    .saude .texto a button{
        margin-top: -10px;
        transform: translateX(155px) !important;
    }

    #frase-cta{
        transform: translateX(55px);
    }
}

@media screen and (min-width: 330px) and (max-width: 339px) {
    .saude .texto a button{
        transform: translateX(60px) !important;
    }

    .nav-mobile{
        left: 80%;
    }

    .off-menu.ativado{
        left: 70px;
    }

    .rotas a{
        margin-left: 43px;
    }
}

@media screen and (min-width: 340px) and (max-width: 359px) {
    .nav-mobile{
        left: 80%;
    }

    .off-menu.ativado{
        left: 75px;
    }

    .juvenal{
        height: 640px;
    }

    .rotas a{
        margin-left: 45px;
        margin-right: 35px;
    }

    .saude .texto a button{
        transform: translateX(65px) !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 379px) {
    .nav-mobile{
        left: 80%
    }

    .off-menu.ativado{
        left: 78px;
    }

    .juvenal{
        height: 670px;
    }

    .rotas a{
        margin-left: 47px;
        margin-right: 36px;
    }

    .saude .texto a button{
        transform: translateX(70px) !important;
    }
}

@media screen and (min-width: 380px) and (max-width: 399px) {
    .nav-mobile{
        left: 80%;
    }

    .off-menu.ativado{
        left: 84px;
    }

    .juvenal{
        height: 690px;
    }
    
    .rotas a{
        margin-left: 50px;
        margin-right: 37px;
    }

    .saude{
        height: 520px;
    }

    .saude .texto a button{
        margin-top: -5px;
        transform: translateX(85px) !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 429px) {
    .nav-mobile{
        left: 82%;
    }

    .off-menu.ativado{
        left: 95px;
    }

    .acesso button{
        padding: 20px 90px;
        transform: translateX(-10px);
    }

    #menor{
        padding-left: 125px !important;
        padding-right: 125px !important;
    }

    #menor2{
        padding-left: 120px !important;
        padding-right: 120px !important;
    }

    #menor3{
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .juvenal{
        height: 725px;
    }

    .rotas  a{
        margin-left: 53px;
        margin-right: 39px;
    }

    .saude{
        height: 530px;
    }

    .saude .texto a button{
        transform: translateX(90px) !important;
    }

    #frase-cta{
        transform: translateX(10px);
    }
}

@media screen and (min-width: 430px) and (max-width: 445px) {
    .nav-mobile{
        left: 83%;
    }

    .off-menu.ativado{
        left: 106px;
    }

    .acesso button{
        padding: 20px 110px;
        transform: translateX(-10px);
    }

    #menor{
        padding-left: 143px !important;
        padding-right: 143px !important;
    }

    #menor2{
        padding-left: 135px !important;
        padding-right: 135px !important;
    }

    #menor3{
        padding-left: 120px !important;
        padding-right: 120px !important;
    }

    .juvenal{
        height: 710px;
    }

    .rotas a{
        margin-left: 56px;
        margin-right: 44px;
    }

    .saude{
        height: 520px;
    }

    .saude .texto a button{
        margin-top: -5px;
        transform: translateX(115px) !important;
    }

    #frase-cta{
        transform: translateX(10px);
    }
}

@media screen and (min-width: 446px) and (max-width: 470px) {
    .nav-mobile{
        left: 83%;
    }

    .off-menu.ativado{
        left: 109px;
    }

    .acesso button{
        padding: 20px 110px;
        transform: translateX(-15px);
    }

    #menor{
        padding-left: 143px !important;
        padding-right: 143px !important;
    }

    #menor2{
        padding-left: 135px !important;
        padding-right: 135px !important;
    }

    #menor3{
        padding-left: 120px !important;
        padding-right: 120px !important;
    }

    .juvenal{
        height: 730px;
    }

    .rotas a{
        margin-left: 59px;
        margin-right: 45px;
    }

    .saude{
        height: 530px;
    }

    .saude .texto a button{
        margin-top: -10px;
        transform: translateX(120px) !important;
    }

    #frase-cta{
        transform: translateX(20px);
    }
}

@media screen and (min-width: 471px) and (max-width: 499px) {
    .nav-mobile{
        left: 83%;
    }

    .off-menu.ativado{
        left: 109px;
    }

    .acesso button{
        padding: 20px 120px;
        transform: translateX(-15px);
    }

    #menor{
        padding-left: 153px !important;
        padding-right: 153px !important;
    }

    #menor2{
        padding-left: 145px !important;
        padding-right: 145px !important;
    }

    #menor3{
        padding-left: 130px !important;
        padding-right: 130px !important;
    }

    .juvenal{
        height: 750px;
    }

    .rotas a{
        margin-left: 63px;
        margin-right: 48px;
    }

    .saude{
        height: 545px;
    }

    .saude .texto a button{
        margin-top: -10px;
        transform: translateX(130px) !important;
    }

    #frase-cta{
        transform: translateX(35px);
    }
}

/*com dois artigos lado a lado*/
@media screen and (min-width: 550px) and (max-width: 779px) {
    #desktop,
    #nome,
    header button{
        display: none;
    }

    html, body {
        width: 100%;
    }
   
    .off-menu button {
        display: block;
    }

    header {
        width: 100%;
        padding: 10px !important; 
    }

    #logo{
        width: 45%;
        margin-top: -1px;
    }

    /*fazendo menu hamburguer*/
    .off-menu {
        background-color: #75bd2e;
        height: 38%;
        width: 45%;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .off-menu.ativado {
        left: 41%;
        top: 10px;
        background-color: #8ac44f;
    }

    .off-menu ul li{
        list-style: none;
        padding: 3px;
    }

    header button{
        color: #050505;
        border: 1px solid rgba(43, 42, 42, 0.363);
    }

    .nav-mobile {
        padding: 2px 5px;
        display: flex;
        background-color: #75bd2e;
        position: fixed;
        left: 85%;
    }

    .ham-menu {
        height: 38px;
        width: 50px;
        margin-left: auto;
        position: relative;
        cursor: pointer;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #7cc644;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s ease;
    }

    /*posicao span*/
    .ham-menu span:nth-child(1) {
        top: 7px;
    }

    .ham-menu span:nth-child(2) {
        top: 17px;
    }

    .ham-menu span:nth-child(3) {
        top: 27px;
    }

    /*posicao x quando menu está ativado*/
    .ham-menu.ativado span:nth-child(1) {
        transform: translateX(-50%) rotate(45deg);
        top: 17px;
    }

    .ham-menu.ativado span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.ativado span:nth-child(3) {
        transform: translateX(-50%) rotate(-45deg);
        top: 17px;
    }

    #frase{
        font-size: 27px;
        text-align: center;
    }

    .slider{
        height: 780px !important;
    }

    .slide img{
        object-fit: cover;
        height: 781px;
    }

    .cards{
        margin-left: 15px;
        margin-right: 15px;
        gap: 0px;
        justify-content: space-between;
    }

    .card{
        width: 50%;
        font-size: 16.5px;
    }

    .card img{
        width: 80%;
        object-fit: cover;
    }

    .card .legenda{
        text-align: justify;
    }

    .third{
        padding-right: 15px;
    }

    .acesso h2{
        margin-bottom: 50px;
    }

    .acesso a{
        margin: 30px;
        margin-left: -5px;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 160px;
        transform: translateX(-25px);
    }

    #menor{
        padding-left: 195px !important;
        padding-right: 195px !important;
    }

    #menor2{
        padding-left: 190px !important;
        padding-right: 190px !important;
    }

    #menor3{
        padding-left: 170px !important;
        padding-right: 170px !important;
    }

    .juvenal{
        flex-direction: column;
        height: 680px;
    }

    .juvenal img{
        width: 60%;
        object-fit: cover;
        margin: 0 auto !important;
        margin-top: 30px !important;
    }

    .juvenal .texto h2{
        font-size: 30px;
        text-align: center;
        margin-left: -165px;
        margin-top: -50px;
        padding-bottom: 5px;
    }

    .juvenal .texto p{
        margin-left: -160px;
        padding-right: 10px;
        padding-bottom: 20px;
        font-size: 17.8px;
        text-align: center;
    }

    .juvenal .texto a{
        font-size: 17px;
        margin-left: -160px;
    }

    .rotas a{
        font-size: 18px;
        margin-left: 72px;
        margin-right: 55px;
    }

    .saude{
        flex-direction: column;
        gap: 0;
        height: 600px;
        padding: 10px;
    }

    .saude img{
        width: 75%;
        margin-top: 20px !important;
        margin: 0 auto;
        object-fit: cover;
    }

    .saude .texto h2{
        font-size: 25px;
    }

    .saude .texto p{
        font-size: 17.8px;
        padding-top: 20px;
        padding-bottom: 25px;
    }

    .saude .texto a button{
        font-size: 16px;
        padding: 10px 50px;
        transform: translateX(160px) !important;
    }

    footer .content{
        flex-direction: column;
    }

    #frase-cta{
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 30px;
        transform: translateX(65px);
    }

    footer .links{
        margin: 0 auto;
    }

    footer .links p{
        font-size: 15px;
    }

    footer .sobre{
        margin-left: 0;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
    }

    footer .sobre h3{
        font-size: 22px;
    }

    footer .sobre a{
        font-size: 18px;
    }

    footer .bottom-footer #copyright{
        font-size: 9.7px;
    }
}

@media screen and  (min-width: 570px) and (max-width: 590px) {
    .nav-mobile{
        left: 87%;
    }

    .off-menu.ativado{
        left: 43%;
    }

    .acesso button{
        padding: 20px 180px;
        transform: translateX(-30px);
    }

    #menor{
        padding-left: 215px !important;
        padding-right: 215px !important;
    }

    #menor2{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    #menor3{
        padding-left: 190px !important;
        padding-right: 190px !important;
    }

    .juvenal{
        height: 700px;
    }

    .saude{
        height: 615px;
    }

    .rotas a{
        margin-left: 75px;
        margin-right: 58px;
    }

    .saude .texto a button{
        transform: translateX(180px) !important;
    }

    #frase-cta{
        transform: translateX(75px);
    }
}

@media screen and  (min-width: 591px) and (max-width: 615px) {
    .nav-mobile{
        left: 87%;
    }

    .off-menu.ativado{
        left: 42%;
    }

    #frase{
        right: 9%;
    }

    .acesso button{
        padding: 20px 180px;
        transform: translateX(-30px);
    }

    #menor{
        padding-left: 215px !important;
        padding-right: 215px !important;
    }

    #menor2{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    #menor3{
        padding-left: 190px !important;
        padding-right: 190px !important;
    }

    .juvenal{
        height: 710px;
    }

    .saude{
        height: 620px;
    }

    .rotas a{
        margin-left: 78px;
        margin-right: 60px;
    }

    .saude .texto a button{
        transform: translateX(190px) !important;
    }

    #frase-cta{
        transform: translateX(90px);
    }
}

@media screen and  (min-width: 616px) and (max-width: 645px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    #frase{
        right: 9.5%;
    }

    .acesso button{
        padding: 20px 200px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 234px !important;
        padding-right: 234px !important;
    }

    #menor2{
        padding-left: 226px !important;
        padding-right: 226px !important;
    }

    #menor3{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    .juvenal{
        height: 730px;
    }

    .saude{
        height: 625px;
    }

    .rotas a{
        margin-left: 81px;
        margin-right: 63px;
    }

    .saude .texto a button{
        transform: translateX(200px) !important;
    }

    #frase-cta{
        transform: translateX(35%);
    }
}

@media screen and  (min-width: 646px) and (max-width: 665px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    #frase{
        right: 9.5%;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 200px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 234px !important;
        padding-right: 234px !important;
    }

    #menor2{
        padding-left: 226px !important;
        padding-right: 226px !important;
    }

    #menor3{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    .juvenal{
        height: 760px;
    }

    .saude{
        height: 635px;
    }

    .rotas a{
        margin-left: 85px; 
        margin-right: 65px;
    }

    .saude .texto a button{
        transform: translateX(215px) !important;
    }

    #frase-cta{
        transform: translateX(40%);
    }
}

@media screen and  (min-width: 666px) and (max-width: 680px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    #frase{
        right: 9.5%;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 200px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 234px !important;
        padding-right: 234px !important;
    }

    #menor2{
        padding-left: 226px !important;
        padding-right: 226px !important;
    }

    #menor3{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    .juvenal{
        height: 770px;
    }

    .saude{
        height: 645px;
    }

    .rotas a{
        margin-left: 87px; 
        margin-right: 67px;
    }

    .saude .texto a button{
        transform: translateX(225px) !important;
    }

    #frase-cta{
        transform: translateX(40%);
    }
}

@media screen and  (min-width: 681px) and (max-width: 700px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    .manual-navegacao{
        width: 50%;
    }

    #frase{
        right: 12%;
    }

    .poema{
        padding-top: 20px;
        height: 450px;
        background-color: #8ac44f;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 200px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 234px !important;
        padding-right: 234px !important;
    }

    #menor2{
        padding-left: 226px !important;
        padding-right: 226px !important;
    }

    #menor3{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    .juvenal{
        height: 780px;
    }

    .saude{
        height: 660px;
    }

    .rotas a{
        margin-left: 89px; 
        margin-right: 69px;
    }

    .saude .texto a button{
        transform: translateX(225px) !important;
    }

    #frase-cta{
        transform: translateX(45%);
    }

    footer .bottom-footer #copyright{
        font-size: 13px;
    }
}

@media screen and  (min-width: 701px) and (max-width: 715px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    .manual-navegacao{
        width: 50%;
    }

    #frase{
        right: 12%;
    }

    .poema{
        padding-top: 20px;
        height: 450px;
        background-color: #8ac44f;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 200px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 234px !important;
        padding-right: 234px !important;
    }

    #menor2{
        padding-left: 226px !important;
        padding-right: 226px !important;
    }

    #menor3{
        padding-left: 210px !important;
        padding-right: 210px !important;
    }

    .juvenal{
        height: 780px;
    }

    .saude{
        height: 660px;
    }

    .rotas a{
        margin-left: 92px; 
        margin-right: 70px;
    }

    .saude .texto a button{
        transform: translateX(225px) !important;
    }

    #frase-cta{
        transform: translateX(45%);
    }

    footer .bottom-footer #copyright{
        font-size: 13px;
    }
}

@media screen and  (min-width: 716px) and (max-width: 740px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    .manual-navegacao{
        width: 50%;
    }

    #frase{
        right: 12%;
    }

    .poema{
        padding-top: 20px;
        height: 450px;
        background-color: #8ac44f;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 220px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 259px !important;
        padding-right: 259px !important;
    }

    #menor2{
        padding-left: 250px !important;
        padding-right: 250px !important;
    }

    #menor3{
        padding-left: 235px !important;
        padding-right: 226px !important;
    }

    .juvenal{
        height: 810px;
    }

    .saude{
        height: 700px;
    }

    .rotas a{
        margin-left: 95px; 
        margin-right: 72px;
    }

    .saude .texto a button{
        padding: 15px 55px;
        transform: translateX(250px) !important;
    }

    #frase-cta{
        transform: translateX(51%);
    }

    footer .bottom-footer #copyright{
        font-size: 13px;
    }
}

@media screen and  (min-width: 741px) and (max-width: 755px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    .manual-navegacao{
        width: 50%;
    }

    #frase{
        right: 14%;
    }

    .poema{
        padding-top: 20px;
        height: 450px;
        background-color: #8ac44f;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 220px;
        transform: translateX(-35px);
    }

    #menor{
        padding-left: 259px !important;
        padding-right: 259px !important;
    }

    #menor2{
        padding-left: 250px !important;
        padding-right: 250px !important;
    }

    #menor3{
        padding-left: 235px !important;
        padding-right: 226px !important;
    }

    .juvenal{
        height: 830px;
    }

    .saude{
        height: 700px;
    }

    .rotas a{
        margin-left: 98px; 
        margin-right: 73px;
    }

    .saude .texto a button{
        padding: 15px 55px;
        transform: translateX(250px) !important;
    }

    #frase-cta{
        transform: translateX(51%);
    }

    footer .bottom-footer #copyright{
        font-size: 13px;
    }
}

@media screen and  (min-width: 756px) and (max-width: 779px) {
    .nav-mobile{
        left: 88%;
    }

    .off-menu{
        width: 38%;
        height: 40%;
    }

    .off-menu.ativado{
        left: 50%;
    }

    .manual-navegacao{
        width: 50%;
        bottom: 83px;
    }

    #frase{
        right: 14%;
    }

    .poema{
        padding-top: 20px;
        height: 450px;
        background-color: #8ac44f;
    }

    .card .legenda{
        text-align: center;
    }

    .acesso button{
        padding: 20px 240px;
        transform: translateX(-50px);
    }

    #menor{
        padding-left: 275px !important;
        padding-right: 278px !important;
    }

    #menor2{
        padding-left: 270px !important;
        padding-right: 266px !important;
    }

    #menor3{
        padding-left: 250px !important;
        padding-right: 250px !important;
    }

    .juvenal{
        height: 750px;
    }

    .juvenal img{
        width: 50%;
    }

    .saude{
        height: 620px;
    }

    .rotas a{
        margin-left: 99px; 
        margin-right: 76px;
    }

    .saude img{
        width: 58%;
    }

    .saude .texto a button{
        padding: 15px 55px;
        transform: translateX(260px) !important;
    }

    #frase-cta{
        transform: translateX(54%);
    }

    footer .bottom-footer #copyright{
        font-size: 13px;
    }
}

/*laptops menores que 1366x780*/
@media screen and (min-width: 780px) and (max-width: 1365px) {
    header {
        width: 100%;
        padding: 15px 10px !important; 
    }

    header nav ul{
        gap: 20px;
    }

    #frase{
        font-size: 34px;
        text-align: center;
        right: 9%;
    }

    .manual-navegacao{
        width: 50%;
    }

    .slider{
        height: 780px !important;
    }

    .slide img{
        object-fit: cover;
        height: 781px;
    }

    .card img{
        width: 100%;
        object-fit: cover;
    }

    .card .legenda{
        text-align: justify;
    }

    .acesso h2{
        margin-bottom: 50px;
    }

    .acesso a{
        margin: 30px;
        margin-left: -5px;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 250px;
        transform: translateX(-45px);
    }

    #menor{
        padding-left: 285px !important;
        padding-right: 285px !important;
    }

    #menor2{
        padding-left: 277px !important;
        padding-right: 278px !important;
    }

    #menor3{
        padding-left: 260px !important;
        padding-right: 260px !important;
    }

    .juvenal{
        flex-direction: column;
        height: 720px;
    }

    .juvenal img{
        width: 45%;
        object-fit: cover;
        margin: 0 auto !important;
        margin-top: 30px !important;
    }

    .juvenal .texto h2{
        font-size: 30px;
        text-align: center;
        margin-left: -165px;
        margin-top: -50px;
        padding-bottom: 5px;
    }

    .juvenal .texto p{
        margin-left: -160px;
        padding-right: 10px;
        padding-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }

    .juvenal .texto a{
        font-size: 19px;
        margin-left: -160px;
    }

    .rotas a{
        font-size: 18px;
        margin-left: 102px;
        margin-right: 78px;
    }

    .saude{
        flex-direction: column;
        gap: 0;
        height: 600px;
        padding: 10px;
    }

    .saude img{
        width: 48%;
        margin-top: 20px !important;
        margin: 0 auto;
        object-fit: cover;
    }

    .saude .texto h2{
        font-size: 30px;
    }

    .saude .texto p{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .saude .texto a button{
        font-size: 16px;
        padding: 15px 55px;
        transform: translateX(270px) !important;
    }

    #frase-cta{
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
    }

    footer .links{
        margin: 0 auto;
    }

    footer .links p{
        font-size: 15px;
    }

    footer .sobre{
        margin: 0 auto;
        text-align: center;
    }

    footer .sobre h3{
        font-size: 22px;
    }

    footer .sobre a{
        font-size: 18px;
    }

    footer .bottom-footer #copyright{
        font-size: 12px;
    }
}

@media screen and (min-width: 801px) and  (max-width: 830px) {
    .rotas a{
        margin-left: 105px;
        margin-right: 80px;
    }
}

@media screen and (min-width: 831px) and (max-width: 850px) {
    .juvenal{
        height: 750px;
    }

    .rotas a{
        margin-left: 109px;
        margin-right: 83px;
    }

    .saude{
        height: 615px;
    }

    .saude .texto a button{
        transform: translateX(290px) !important;
    }
}

@media screen and (min-width: 851px) and (max-width: 885px) {
    #frase{
        right: 10%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 760px;
    }

    .rotas a{
        margin-left: 112.5px;
        margin-right: 86.5px;
    }

    .saude{
        height: 615px;
    }

    .saude .texto a button{
        transform: translateX(300px) !important;
    }
}

@media screen and (min-width: 886px) and (max-width: 900px) {
    header nav ul{
        gap: 30px;
    }

    #frase{
        right: 10%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 780px;
    }

    .rotas a{
        margin-left: 116px;
        margin-right: 89px;
    }

    .saude{
        height: 625px;
    }

    .saude .texto a button{
        transform: translateX(300px) !important;
    }
}

@media screen and (min-width: 901px) and (max-width: 920px) {
    header nav ul{
        gap: 30px;
    }

    #frase{
        right: 10%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 780px;
    }

    .rotas a{
        margin-left: 119px;
        margin-right: 90px;
    }

    .saude{
        height: 625px;
    }

    .saude .texto a button{
        transform: translateX(300px) !important;
    }
}

@media screen and (min-width: 921px) and (max-width: 940px) {
    header nav ul{
        gap: 30px;
    }

    #frase{
        right: 15%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 790px;
    }

    .rotas a{
        margin-left: 120.5px;
        margin-right: 93.5px;
    }

    .saude{
        height: 635px;
    }

    .saude .texto a button{
        transform: translateX(335px) !important;
    }
}

@media screen and (min-width: 941px) and (max-width: 970px) {
    header nav ul{
        gap: 30px;
    }

    #frase{
        right: 15%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 810px;
    }

    .rotas a{
        margin-left: 124px;
        margin-right: 95px;
    }

    .saude{
        height: 645px;
    }

    .saude .texto a button{
        transform: translateX(335px) !important;
    }
}

@media screen and (min-width: 971px) and (max-width: 1000px) {
    header nav ul{
        gap: 30px;
    }

    #frase{
        right: 15%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 830px;
    }

    .rotas a{
        margin-left: 128px;
        margin-right: 97px;
    }

    .saude{
        height: 655px;
    }

    .saude .texto a button{
        transform: translateX(335px) !important;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1020px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 15%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 690px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 133px;
        margin-right: 100px;
    }

    .saude{
        height: 655px;
    }

    .saude img{
        width: 45%;
    }

    .saude .texto a button{
        transform: translateX(375px) !important;
    }
}

@media screen and (min-width: 1021px) and (max-width: 1050px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 15%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 690px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 135px;
        margin-right: 102px;
    }

    .saude{
        height: 655px;
    }

    .saude img{
        width: 45%;
    }

    .saude .texto a button{
        transform: translateX(375px) !important;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1080px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 18%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 710px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 139px;
        margin-right: 106px;
    }

    .saude{
        height: 655px;
    }

    .saude img{
        width: 45%;
    }

    .saude .texto a button{
        transform: translateX(395px) !important;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1120px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 18%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 730px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 144px;
        margin-right: 109px;
    }

    .saude{
        height: 655px;
    }

    .saude img{
        width: 45%;
    }

    .saude .texto a button{
        transform: translateX(38.5vw) !important;
    }
}

@media screen and (min-width: 1021px) and (max-width: 1150px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 20%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 740px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 148px;
        margin-right: 112px;
    }

    .saude{
        height: 665px;
    }

    .saude img{
        width: 45%;
    }

    .saude .texto a button{
        transform: translateX(38.5vw) !important;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1190px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 20%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 750px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 153px;
        margin-right: 117px;
    }

    .saude{
        height: 675px;
    }

    .saude img{
        width: 45%;
    }

    .saude .texto a button{
        transform: translateX(38.5vw) !important;
    }
}

@media screen and (min-width: 1191px) and (max-width: 1230px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 20%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 775px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 158px;
        margin-right: 120px;
    }

    .saude{
        height: 660px;
    }

    .saude img{
        width: 42%;
    }

    .saude .texto a button{
        transform: translateX(40vw) !important;
    }
}

@media screen and (min-width: 1231px) and (max-width: 1260px) {
    header nav ul{
        gap: 35px;
    }

    #frase{
        right: 22%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 280px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 315px !important;
        padding-right: 315px !important;
    }

    #menor2{
        padding-left: 305px !important;
        padding-right: 305px !important;
    }

    #menor3{
        padding-left: 290px !important;
        padding-right: 290px !important;
    }

    .juvenal{
        height: 785px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 163px;
        margin-right: 123px;
    }

    .saude{
        height: 675px;
    }

    .saude img{
        width: 42%;
    }

    .saude .texto a button{
        transform: translateX(40vw) !important;
    }
}

@media screen and (min-width: 1261px) and (max-width: 1285px) {
    header nav ul{
        gap: 40px;
    }

    #frase{
        right: 23%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 300px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 337px !important;
        padding-right: 337px !important;
    }

    #menor2{
        padding-left: 330px !important;
        padding-right: 330px !important;
    }

    #menor3{
        padding-left: 310px !important;
        padding-right: 310px !important;
    }

    .juvenal{
        height: 800px;
    }

    .juvenal img{
        width: 33%;
    }

    .rotas a{
        margin-left: 167px;
        margin-right: 126px;
    }

    .saude{
        height: 680px;
    }

    .saude img{
        width: 42%;
    }

    .saude .texto a button{
        transform: translateX(40vw) !important;
    }
}

@media screen and (min-width: 1286px) and (max-width: 1320px) {
    header nav ul{
        gap: 40px;
    }

    #frase{
        right: 23%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 300px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 337px !important;
        padding-right: 337px !important;
    }

    #menor2{
        padding-left: 330px !important;
        padding-right: 330px !important;
    }

    #menor3{
        padding-left: 310px !important;
        padding-right: 310px !important;
    }

    .juvenal{
        height: 680px;
    }

    .juvenal img{
        width: 25%;
    }

    .rotas a{
        margin-left: 170px;
        margin-right: 130px;
    }

    .saude{
        height: 630px;
    }

    .saude img{
        width: 35%;
    }

    .saude .texto a button{
        transform: translateX(40vw) !important;
    }
}

@media screen and (min-width: 1321px) and (max-width: 1350px) {
    header nav ul{
        gap: 40px;
    }

    #frase{
        right: 23%;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 300px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 337px !important;
        padding-right: 337px !important;
    }

    #menor2{
        padding-left: 330px !important;
        padding-right: 330px !important;
    }

    #menor3{
        padding-left: 310px !important;
        padding-right: 310px !important;
    }

    .juvenal{
        height: 690px;
    }

    .juvenal img{
        width: 25%;
    }

    .rotas a{
        margin-left: 175px;
        margin-right: 133px;
    }

    .saude{
        height: 630px;
    }

    .saude img{
        width: 35%;
    }

    .saude .texto a button{
        transform: translateX(40vw) !important;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1365px) {
    header nav ul{
        gap: 40px;
    }

    #frase{
        right: 23%;
    }

    .manual-navegacao{
        bottom: 82px;
    }

    .acesso button{
        font-size: 16px;
        padding: 20px 300px;
        transform: translateX(-55px);
    }

    #menor{
        padding-left: 337px !important;
        padding-right: 337px !important;
    }

    #menor2{
        padding-left: 330px !important;
        padding-right: 330px !important;
    }

    #menor3{
        padding-left: 310px !important;
        padding-right: 310px !important;
    }

    .juvenal{
        height: 710px;
    }

    .juvenal img{
        width: 25%;
    }

    .rotas a{
        margin-left: 179px;
        margin-right: 136px;
    }

    .saude{
        height: 630px;
    }

    .saude img{
        width: 33%;
    }

    .saude .texto a button{
        transform: translateX(40vw) !important;
    }
}