*{
    font-family: 'Nunito Sans', sans-serif;
}

.caminho{
    margin-top: 80px;
    margin-bottom: 40px;
}

.caminho h2{
    padding-left: 45px;
    margin-bottom: 15px;
}

.caminho a{
    font-weight: lighter;
}

.caminho a:hover{
    text-decoration: underline;
}

.caminho h6{
    background-color: #8ac44f;
    padding: 25px;
    padding-left: 45px;
    margin-bottom: 20px;
    font-size: 15px;
}

a{
    color: #050505;
    text-decoration: none;
}

.artigos{
    display: block;
    align-items: center;
    margin-bottom: 50px;
}

.artigo{
    background-color: #ffffffc0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.363);
    border-width: 2px;
    border-radius: 25px;
    box-shadow: 4px 4px rgb(179, 169, 169);
    width: 93%;
    display: flex;
    align-items: flex-start;
}

.artigo .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; 
}

.artigo .content p{
    text-align: justify;
}

.artigo .content a:hover{
    color: rgb(148, 148, 44);
}

#access{
    font-size: 15px;
}

.artigos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 480px) {
    .caminho {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .caminho h6 {
        font-size: 13px !important;
        padding: 15px 20px;
    }

    .artigo {
        flex-direction: column;
        width: 95%;
        border-width: 1.5px;
        box-shadow: 2px 2px rgb(179, 169, 169);
    }

    .artigo img{
        object-fit: cover;
        width: 85% !important;
        margin: 0 auto;
        margin-top: 20px;
        padding: 0 !important;
    }

    .content {
        padding: 20px;
    }

    .content p {
        font-size: 14px;
    }

    #access {
        font-size: 14px;
    }
}

@media screen and (max-width: 1366px) {
    .caminho h2 {
        font-size: 1.5rem;
    }

    .caminho h6 {
        font-size: 15px;
    }

    .artigo {
        width: 95%;
    }

    .content {
        padding: 30px;
    }

    .content p {
        font-size: 15px;
    }

    #access {
        font-size: 15px;
    }
}