<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/login.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
    
    <title>Login</title>
</head>
<body>
    <main>
        <div class="forms-login">
            <!-- ID no formulário para JS -->
            <form id="login-form">
                <h1>Login</h1>

                <div class="input-group">
                    <div class="input-box">
                        <label for="email"><p class="paragrafo">Email</p></label>
                        <input type="email" id="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="password"><p class="paragrafo">Senha</p></label>
                        <input type="password" id="password" maxlength="30" placeholder="Digite sua senha" required>
                    </div>
                </div>

                <div class="login-button">
                    <button type="submit"><p>Entrar</p></button> 
                </div>

                <p id="mensagem" style="display: none;">Aguarde...</p> 
                <script src="/static/javascript/delay.js"></script>

                <div class="login-button">
                    <a href="/templates/cadastro.html"><button type="button"><p>Realizar cadastro</p></button></a>
                </div>

                <div class="senha-nova">
                    <a href="/templates/senhaNova.html">Esqueci minha senha</a> 
                </div>

                <!-- Mensagem de Erro ou Sucesso -->
                <div id="message" style="color: red; margin-top: 10px;"></div>
            </form>
        </div>
    </main>

    <!-- Firebase SDKs -->
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.12.2/firebase-auth-compat.js"></script>
    
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCMCR42h8ZM4ao4D5MSTZkg99PIhspSAZE",
            authDomain: "pulso-da-historia.firebaseapp.com",
            databaseURL: "https://pulso-da-historia-default-rtdb.firebaseio.com",
            projectId: "pulso-da-historia",
            storageBucket: "pulso-da-historia.appspot.com",
            messagingSenderId: "285634655113",
            appId: "1:285634655113:web:7e97210e9c6b2878d96758"
            };

        firebase.initializeApp(firebaseConfig);

        

        const loginForm = document.getElementById('login-form');
        const messageDiv = document.getElementById('message');
        const mensagemAguarde = document.getElementById('mensagem');

        loginForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const email = document.getElementById('email').value.trim();
            const password = document.getElementById('password').value;

            mensagemAguarde.style.display = 'block';
            messageDiv.textContent = '';

            firebase.auth().signInWithEmailAndPassword(email, password)
                .then(userCredential => {
                    const user = userCredential.user;
                    console.log('Login realizado com sucesso:', user);
                    messageDiv.style.color = 'green';
                    messageDiv.textContent = 'Login realizado com sucesso! Redirecionando...';

                    setTimeout(() => {
                        window.location.href = "/templates/logado.html";
                    }, 2000);
                })
                .catch(error => {
                    mensagemAguarde.style.display = 'none';
                    messageDiv.style.color = 'red';
                    messageDiv.textContent = 'Erro no login: ' + error.message;
                });
        });
    </script>
</body>
</html>
