<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
    <title>Política de Privacidade</title>

    <style>
        main{
            padding: 50px;
        }

        h1{
            padding-top: 70px;
            padding-bottom: 50px;
            text-align: center;
        }

        main p{
            text-align: justify;
            padding-bottom: 20px;
            font-size: 17px;
        }
    </style>
</head>

<body>
    <header id="header">
        <a class="empresa" href="/templates/home.html">
            <img id="logo" src="/static/img/logo.png" alt="logo">
            <p>Pulso da História CM</p>
        </a>

        <nav>
            <ul>
                <li class="drop-hover"><a id="history" href="#">História <i class="fa-solid fa-caret-down"></i></a>
                    <div class="drop">
                        <a href="/templates/secaoCM.html">Conheça CM</a>
                        <a href="/templates/secaoP.html">Personalidades</a>
                        <a href="/templates/secaoF.html">Folclore</a>
                    </div>
                </li>
                <li><a href="/templates/secaoE.html">Engenhos</a></li>
                <li><a href="/templates/rotas.html">Rotas</a></li>
                <li><a href="/templates/about.html">Sobre Nós</a></li>
            </ul>
        </nav>

        <a href="/templates/login.html"><button>Login</button></a>
    </header>

    <main>
        <h1>Política de Privacidade - Pulso da História CM</h1>
        
        <p>A sua privacidade é nossa prioridade. O <strong>Pulso da História CM</strong> coleta e processa dados pessoais para proporcionar uma experiência personalizada e informativa. Ao utilizar nossa pulseira monitor cardíaco, você concorda com a coleta e o uso das seguintes informações: </p>  
            
        <p>1. <strong>Dados de Saúde:</strong> Seus <strong>batimentos cardíacos</strong> serão registrados para gerar gráficos que você poderá acessar, permitindo um melhor acompanhamento da sua saúde. Esses dados não serão compartilhados com terceiros sem seu consentimento.</p>  
            
        <p>2. <strong>Localização:</strong> Durante o uso da pulseira, sua localização será acessada para sugerir <strong>pontos turísticos de Ceará-Mirim</strong> com base nos lugares próximos a você. A qualquer momento, você pode desativar essa funcionalidade nas configurações do seu dispositivo. </p>  
            
        <p>3. <strong>Entrega da Pulseira:</strong> Após o cadastro, a pulseira será enviada <strong>sem custo de frete</strong> para o endereço informado no momento do registro. Certifique-se de fornecer dados corretos para garantir a entrega adequada. </p> 
            
        <p>4. <strong>Segurança dos Dados:</strong> Adotamos medidas rigorosas para proteger suas informações contra acessos não autorizados. Seus dados serão armazenados de forma segura e utilizados apenas para os fins descritos nesta política. </p>  
            
        <p>Ao continuar utilizando nossos serviços, você concorda com os termos desta Política de Privacidade. Caso tenha dúvidas ou deseje solicitar a exclusão de seus dados, entre em contato com nossa equipe de suporte através do endereço eletrônico <i>pulsodahistoriacm@gmail.com</i>.</p>
    </main>

    <footer>
        <div class="links">
            <a href="https://cearamirim.rn.gov.br/" target="_blank">
                <img src="/static/img/brasaoCM.svg">
                <p>Prefeitura Municipal</p>
            </a>

            <a href="https://www.facebook.com/people/ACLA-Pedro-Sim%C3%B5es-Neto/100064889582779/" target="_blank">
                <img src="/static/img/ACLA.png">
                <p>ACLA</p>
            </a>

            <a href="https://www.cearamirim.rn.leg.br/" target="_blank">
                <img src="/static/img/camara.png">
                <p>Câmara Municipal</p>
            </a>

            <a href="https://gibsonmachadocm.blogspot.com/" target="_blank">
                <img src="/static/img/blogger.png">
                <p>Ceará-Mirim <br> Cultura e Arte</p>
            </a> 
        </div>

        <div class="sobre">
            <h2>Se aventure conosco!</h2>
            <ul>
                <li>
                    <a href="/templates/politica.html">
                        Políticas e Termos
                    </a>
                </li>
            
                <li>
                    <a href="mailto: pulsodahistoriacm@gmail.com">
                        Mande sua dúvida
                    </a>
                </li>
                <li>
                    <a href="/templates/about.html">
                        Sobre Nós
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-footer">
            <span id="copyright">
                &copy 2025 Pulso da História CM - Todos os direitos reservados.
            </span>
        </div>
    </footer>

    <script src="/static/javascript/headerColorido.js"></script>
</body>